Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120

DerivePointerAlignment: false
PointerAlignment: Left

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve

AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
